<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wang.dao.PaymentMapper">
    <insert id="create" parameterType="Payment" useGeneratedKeys="true" keyProperty="id">
        insert into payment(serial) values (#{serial});
    </insert>

    <select id="getPaymentById" parameterType="int" resultMap="baseResult">
        select * from payment where id = #{id};
    </select>
    <resultMap id="baseResult" type="com.wang.entity.Payment">
        <id column="id" property="id" jdbcType="INTEGER"></id>
        <id column="serial" property="serial" jdbcType="VARCHAR"></id>
    </resultMap>
</mapper>